body{
  background-color: #181819;
  font-family: arial;
  font-size: 20px;
}
#oscar div,#oscar figcaption,#oscar{
  width: 480px;
  height: 360px;
}
#oscar figcaption{
  transform: translateY(-360px);
  background: linear-gradient(rgba(50, 50, 70, 0.75), rgba(50, 70, 50, 0.75),rgba(70, 50, 50, 0.75));
}
#oscar h2{
  color: #fff;
  text-align: center;
  margin: 0;
  transform: translateY(160px);
  transition: 0.5s;
}
#oscar h2 span{
  font-weight: 100;
}
#oscar:hover figcaption{
  background: linear-gradient(rgba(50, 50, 70, 0.2), rgba(50, 70, 50, 0.2),rgba(70, 50, 50, 0.2));
}
#oscar:hover h2{
  transform: translateY(130px);
}
#oscar p{
  border: 2px solid #fff;
  color: #fff;
  width: 420px;
  height: 300px;
  transform: translateX(30px) translateY(-27.5px) scale(0);
  text-align: center;
  transition: 0.3s;
}
#oscar:hover p{
  transform: translateX(30px) translateY(-27.5px) scale(1);
}
#oscar img{
  transform: scale(1.1);
  transition: 2s;
}
#oscar:hover img{
  transform: scale(1);
}
#oscar{
  overflow: hidden;
}
