body{
  margin: 0;
  font-family: 'Oswald', sans-serif;
}
nav a{
  text-decoration: none;
  color: white;
}
.bg-transparent{
  background-color: rgba(0, 0, 0, 0.75);
}
nav div small{
  color: yellow;
}
nav .active{
  color: yellow;
}
