@media (min-width: 1200px){
  .container{
    width: 1300px;
  }
}
.footer-wrapper{
  background-color: #aaa;

}
button{
  position: absolute;
  bottom: -200px;
}

div .dropdown-menu{
  position: relative;
bottom: 200px;
}
